.header {
  padding: 12px 6px;
  margin-bottom: 6px;
  .title {
    font-size: 36px;
    .author {
      font-size: 14px;
      padding-left: 16px;
    }
  }
  .theme-changer {
    margin: 0 12px;
    float: right;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 12px;
  }
}

.light {
  .header {
    background: #ccc;
    .theme-changer {
      background-color: #444;
      color: #ccc;
      &:hover {
        color: #aaa;
      };
    }
  }
}
.dark {
  .header {
    background: #333;
    .theme-changer {
      background-color: #ccc;
      color: #444;
      &:hover {
        color: #000;
      };
    }
  }
}