.world {
  flex-grow: 5;
  max-width: 75%;
  .world-row {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    .world-cell {
      flex: 1 0 auto;
      text-align: center;
      border: 1px solid;
      margin: 0.5px;
      align-items: stretch;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}

.light {
  .world .world-row .world-cell {
    border-color: #ddd;
    &.cell-dead {
      background-color: white;
    }
    &.cell-live {
      background-color: black;
    }
  }
}
.dark {
  .world .world-row .world-cell {
    border-color: #ddd;
    &.cell-dead {
      background-color: #111;
    }
    &.cell-live {
      background-color: #eee;
    }
  }
}